+++
title = "密码迁移与密码敏捷"
linkTitle = "密码迁移与密码敏捷"
+++

{{< blocks/cover title="密码迁移与密码敏捷" image_anchor="top" height="full" color="dark" >}}

<div class="mx-auto">
	<p class="display-4">本站为开放社区网站，共享与PQC迁移与密码敏捷相关的研究、发现、解决方案。</p>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="{{< relref "/docs/overview" >}}">
		Overview
		<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="{{< relref "/docs" >}}">
		具体内容
		<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="https://arxiv.org/abs/2106.09599">
		论文 <i class="fas fa-book ml-2 "></i>
	</a>
	<p class="display-4"> 姐妹项目 <br><br>
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://cspub.h-da.io/pqc/">
			PQC 集成（英文）
			<i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
	</p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/lead color="primary" >}}
后量子密码的开发已持续多年，很快会得到标准化，并取代之前的标准。要使用PQC，仅仅开发安全实现是不够的，向PQC的迁移在各个层面上都会面临巨大挑战，例如如何集成到现有协议中，硬件和内存使用等性能问题。特别是新算法族是否能长期保持安全尚不确定，以及如何在不同信息系统中就新算法和协议参数通信和协商的问题，会成为主要的挑战。这就导致建立“密码敏捷”概念需求紧迫，为应对密码学的快速变化做好准备，并保证兼容一切可能的场景情况。
{{< /blocks/lead >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-user-secret" title="应用网络安全" url="https://fbi.h-da.de/en/research/research-groups/applied-cyber-security-darmstadt" %}}
Darmstadt应用科技大学应用网络安全研究组
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-user-shield" title="用户中心安全" url="https://fbi.h-da.de/en/research/research-groups/user-centered-security" %}}
Darmstadt应用科技大学用户中心安全研究组
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="欢迎进行贡献！" url="https://pqc-cma.gitlab.io/cma/ch/docs/contributing/" %}}
若要进行贡献，您可fork我们的[Gitlab仓库](https://gitlab.com/pqc-cma/cma)，更新后提交合并请求。
{{% /blocks/feature %}}

{{< /blocks/section >}}
